# Pandas & Preprocessing
FIRA Big Data Platform < Data Mining >

### 1. Pandas Tutorial
- 1-1. Data Structure
- 1-2. Selection : Getting, Slicing
- 1.3. Add New Rows & Columns
- 1-4. Inspection
- 1-5. Arithmetic
- 1-6. Map & Apply Function
- 1-7. Sort
    
### 2. Preprocessing
- 2-1. Data from .csv, .sql to DataFrame
- 2-2. Merge/Join two DataFrame : .merge()
- 2-3. Fill or Abandon NaN values
- 2-4. Save & Load as DataFrame : pickle
- 2-5. Data Summary : .groupby()

### 실습 : 군집화 실습 데이터 기본 전처리
    
### 3. Basic Visualization : Scatter Plot of Normalized Total Volume vs. Normalized Value
- 3-1. `matplotlib.pyplot`
- 3-2. `bokeh.js`

### 1. Pandas Tutorial
---
Pandas는 NumPy를 기반으로 하는 데이터 분석에 최적화된 파이썬 라이브러리입니다. Series, DataFrame의 데이터 구조를 제공하고 이를 계산하는 도구를 제공하여 데이터 분석을 보다 편리하게 해줍니다.

In [1]:
# import package - version check 필수
import pandas as pd # 개발자들 사이에 convention

#### 1.1. Data Structure
---
##### pd.Series 
1. Labeling이 가능한 1차원 Array Object 
2. 모두 같은 데이터형을 가집니다.

In [2]:
# index가 ['a', 'b', 'c', 'd']이고, 값이 [3, -5, 7, 4]인 Series
s = pd.Series([3, -5, 7, 4], index = ['a', 'b', 'c', 'd'])
s

a    3
b   -5
c    7
d    4
dtype: int64

##### pd.DataFrame 
1. Labeling이 가능한 2차원 Array Object
2. column 별로 서로 다른 데이터형을 가질 수 있습니다.

In [3]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
        'Capital': ['Brussels', 'New Delhi', 'Brasília'],
        'Population': [11190846, 1303171035, 207847528]}
data

{'Capital': ['Brussels', 'New Delhi', 'Brasília'],
 'Country': ['Belgium', 'India', 'Brazil'],
 'Population': [11190846, 1303171035, 207847528]}

In [4]:
# 위의 데이터를 DataFrame으로 변환
df = pd.DataFrame(data)
df

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasília   Brazil   207847528

In [5]:
df = pd.DataFrame(data, index = [1,2,3])
df

     Capital  Country  Population
1   Brussels  Belgium    11190846
2  New Delhi    India  1303171035
3   Brasília   Brazil   207847528

#### 1.2. Selection : Getting, Slicing
---

##### Getting

In [6]:
# Series : By index

s

a    3
b   -5
c    7
d    4
dtype: int64

In [7]:
# DataFrame : By Row 

df[0:1] # 제대로 된 방법 아님.

    Capital  Country  Population
1  Brussels  Belgium    11190846

In [8]:
# DataFrame : By column

df['Capital']

1     Brussels
2    New Delhi
3     Brasília
Name: Capital, dtype: object

In [9]:
df[['Capital', 'Country']]

     Capital  Country
1   Brussels  Belgium
2  New Delhi    India
3   Brasília   Brazil

##### Slicing
* df.iloc : index를 통한 slicing
* df.loc : label을 통한 slicing

In [10]:
# By Position
df.iloc[0,] # 한줄만 부르는 경우는 output은 series임.

Capital       Brussels
Country        Belgium
Population    11190846
Name: 1, dtype: object

In [11]:
df.iloc[1:, 0]

2    New Delhi
3     Brasília
Name: Capital, dtype: object

In [12]:
# By Label
df.loc[1,]

Capital       Brussels
Country        Belgium
Population    11190846
Name: 1, dtype: object

##### Boolean Indexing (Mask)
해당 조건을 만족하는 부분만 slicing - True/False 기반

In [13]:
# s에서 1보다 큰 부분만 출력
s[s>1]

a    3
c    7
d    4
dtype: int64

In [14]:
# s에서 1보다 작은 부분만 출력
s[~(s>1)]

b   -5
dtype: int64

In [15]:
# OR
# 5보다 크거나 -1보다 작은 부분 출력
s[(s>5)| (s<-1)]

b   -5
c    7
dtype: int64

In [16]:
df[df['Population'] > 207840000]

     Capital Country  Population
2  New Delhi   India  1303171035
3   Brasília  Brazil   207847528

In [17]:
# 부정 조건
df.index
df[df.index != 2]

    Capital  Country  Population
1  Brussels  Belgium    11190846
3  Brasília   Brazil   207847528

# columns 에서 아래처럼 선택하는거 불가능?

In [18]:
df.columns
df[df.columns != 'Population']

     Capital  Country  Population
1   Brussels  Belgium    11190846
2  New Delhi    India  1303171035

# 정규표현식 연습

#import re
df['Capital' == r'B*']

#### 1.3. Adding a New Row & Column
---
##### Row

In [19]:
# Adding new or update row : 'Country 4' - ['Korea', 'Seoul', 50000000]
df.loc[4] = ['Korea', 'Seoul', 50000000]
df
# df.loc[3] = ### mutable

     Capital  Country  Population
1   Brussels  Belgium    11190846
2  New Delhi    India  1303171035
3   Brasília   Brazil   207847528
4      Korea    Seoul    50000000

*Q. .iloc으로 새로운 행을 추가할 수 있는가? 그 이유는?*

In [20]:
# Can't use iloc
#df.iloc[4,:] # iloc으로 찾고 수정하는건데 그 index 자체가 없으므로 찾지 못함.

##### Column

In [21]:
# adding new or update columns : 'Continent' - ['Europe', 'Asia', 'America']
df['Continent'] = ['Europe', 'Asia', 'America', 'Asia']
df

     Capital  Country  Population Continent
1   Brussels  Belgium    11190846    Europe
2  New Delhi    India  1303171035      Asia
3   Brasília   Brazil   207847528   America
4      Korea    Seoul    50000000      Asia

#### 1.4. Inspection
---

In [22]:
# DataFrame 크기 정보
df.shape
df.shape[0] # number of rows

4

In [23]:
# 행 정보
df.index # index object
list(df.index) # list로 만들고 싶으면

[1, 2, 3, 4]

In [24]:
# 열 정보
df.columns

Index(['Capital', 'Country', 'Population', 'Continent'], dtype='object')

In [25]:
# 상세 정보 : 행 정보, 열 정보 및 데이터형, 메모리
df.info() # 애는 function이므로 () 붙여야 함

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 4 columns):
Capital       4 non-null object
Country       4 non-null object
Population    4 non-null int64
Continent     4 non-null object
dtypes: int64(1), object(3)
memory usage: 160.0+ bytes

#### 1.5 Arithmetic
---
##### 모든 타입 공통

In [26]:
# 열/행별 데이터 개수
df.count() # 기본적으로 열별로 셈. default가 axis = 0

Capital       4
Country       4
Population    4
Continent     4
dtype: int64

In [27]:
df.count(axis=1) # 행별로

1    4
2    4
3    4
4    4
dtype: int64

In [28]:
# 열/행별 합
df.sum()
df.sum(axis=1)

1      11190846
2    1303171035
3     207847528
4      50000000
dtype: int64

In [29]:
# 열/행별 누적합
df.cumsum()

,Capital,Country,Population,Continent
1,Brussels,Belgium,11190846,Europe
2,BrusselsNew Delhi,BelgiumIndia,1314361881,EuropeAsia
3,BrusselsNew DelhiBrasília,BelgiumIndiaBrazil,1522209409,EuropeAsiaAmerica
4,BrusselsNew DelhiBrasíliaKorea,BelgiumIndiaBrazilSeoul,1572209409,EuropeAsiaAmericaAsia

In [30]:
df

     Capital  Country  Population Continent
1   Brussels  Belgium    11190846    Europe
2  New Delhi    India  1303171035      Asia
3   Brasília   Brazil   207847528   America
4      Korea    Seoul    50000000      Asia

In [31]:
# 열별 최소
df.min()

Capital       Brasília
Country        Belgium
Population    11190846
Continent      America
dtype: object

In [32]:
# 행별 최소. 숫자는 글자에 앞선다.
df.min(axis=1)

1      11190846
2    1303171035
3     207847528
4      50000000
dtype: int64

In [33]:
# 열별 최대
df.max()

Capital        New Delhi
Country            Seoul
Population    1303171035
Continent         Europe
dtype: object

##### 수치형 데이터

In [34]:
# Population 최소 / 최대
df['Population'].min() / df['Population'].max()

0.0085873962046739329

In [35]:
# Population이 최소인 index
df["Population"].idxmin()

1

In [36]:
# 또다른 표현 방법
df["Population"].argmin()

1

In [37]:
# Population이 최대인 index
df["Population"].idxmax()

2

In [38]:
# 열별 기본 수치 정보
df.describe() # 수치정보만 찾아서 계산해줌

         Population
count  4.000000e+00
mean   3.930524e+08
std    6.126772e+08
min    1.119085e+07
25%    4.029771e+07
50%    1.289238e+08
75%    4.816784e+08
max    1.303171e+09

In [39]:
# 열별 평별
df.mean()

Population    3.930524e+08
dtype: float64

#### 1.6 Map & Apply Function
---
##### Series : .map

In [40]:
s.map(print)

3
-5
7
4

a    None
b    None
c    None
d    None
dtype: object

In [41]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [42]:
# square function 정의 후, series에 적용해보자
square = lambda x: x**2
s.map(square)

a     9
b    25
c    49
d    16
dtype: int64

##### DataFrama : .apply, .applymap

In [43]:
num_data = {
   'a' : [1, 2, 3],
   'b' : [4, 5, 6],
   'c' : [7, 8, 9]
}

In [44]:
num_df = pd.DataFrame(num_data)
num_df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [45]:
# 셀 단위로 적용
num_df.applymap(print)

1
2
3
1
2
3
4
5
6
7
8
9

      a     b     c
0  None  None  None
1  None  None  None
2  None  None  None

In [46]:
# num_df.applymap(sum)

In [47]:
# 열/행 단위로 적용
num_df.apply(print)

0    1
1    2
2    3
Name: a, dtype: int64
0    4
1    5
2    6
Name: b, dtype: int64
0    7
1    8
2    9
Name: c, dtype: int64

a    None
b    None
c    None
dtype: object

In [48]:
num_df.apply(sum)

a     6
b    15
c    24
dtype: int64

#### 1-7. Sort
---
특정 컬럼을 기준으로 정렬 가능

In [49]:
# Popluation을 기준으로 내림차순 정렬
df.sort_values('Population', ascending = False)

     Capital  Country  Population Continent
2  New Delhi    India  1303171035      Asia
3   Brasília   Brazil   207847528   America
4      Korea    Seoul    50000000      Asia
1   Brussels  Belgium    11190846    Europe

### 2. Preprocessing
---
- 2-1. Data from .csv, .sql to DataFrame 
- 2-2. Merge/Join two DataFrame : .merge()
- 2-3. Fill or Abandon NaN values
- 2-4. Save & Load as DataFrame : pickle
- 2-5. Data Summary : .groupby()

##### 사용 데이터 : 2016 US Election (Kaggle) - 2016년 미 대선 정당별 대선 후보 경선 결과
- primary_results : 24611 x 8 (공화당, 민주당 대통령 후보 경선 결과)
- county_facts : 3195 x 54 (state, couty별 인구, 주거, 기업, 유통 등 특성 정보)
- county_facts_dictionary : county_facts의 column에 대한 설명 (50개)

#### 2-1. Data from .csv, .sql to DataFrame
---
##### pd.read_sql & sqlite3

In [50]:
# import package
import sqlite3

In [51]:
# connect sqlite3 - database.sqlite
connect = sqlite3.connect("database.sqlite")

In [52]:
# pd.read_sql(query, con)
pd.read_sql('SELECT * FROM primary_results', connect)

DatabaseError: Execution failed on sql 'SELECT * FROM primary_results': no such table: primary_results

In [ ]:
pd.read_sql('SELECT * FROM county_facts', connect)

##### pd.read_csv

In [54]:
# county_facts_df
county_facts_df = pd.read_csv('county_facts.csv')
county_facts_df

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0
5,1007,Bibb County,AL,22506,22919,-1.8,22915,5.3,21.0,14.8,...,0.0,0.0,0,0,124707,5804,10757,19,622.58,36.8
6,1009,Blount County,AL,57719,57322,0.7,57322,6.1,23.6,17.0,...,0.0,23.2,341544,0,319700,5622,20941,3,644.78,88.9
7,1011,Bullock County,AL,10764,10915,-1.4,10914,6.3,21.4,14.9,...,0.0,38.8,0,0,43810,3995,3670,1,622.81,17.5
8,1013,Butler County,AL,20296,20946,-3.1,20947,6.1,23.6,18.0,...,0.0,0.0,399132,56712,229277,11326,28427,2,776.83,27.0
9,1015,Calhoun County,AL,115916,118586,-2.3,118572,5.7,22.2,16.0,...,0.5,24.7,2679991,0,1542981,13678,186533,114,605.87,195.7
10,1017,Chambers County,AL,34076,34170,-0.3,34215,5.9,21.4,18.3,...,0.0,29.3,667283,0,264650,7620,23237,8,596.53,57.4
11,1019,Cherokee County,AL,26037,25986,0.2,25989,4.8,20.4,20.9,...,0.0,14.5,307439,62293,186321,7613,13948,2,553.70,46.9
12,1021,Chilton County,AL,43931,43631,0.7,43643,6.4,24.2,15.2,...,0.0,0.0,0,155139,359910,8496,34073,78,692.85,63.0
13,1023,Choctaw County,AL,13323,13858,-3.9,13859,4.9,20.6,20.8,...,0.0,44.1,0,52904,84633,5969,11345,0,913.50,15.2
14,1025,Clarke County,AL,24945,25840,-3.5,25833,5.6,22.6,18.0,...,0.0,28.6,571454,85803,344311,13034,23596,11,1238.47,20.9
15,1027,Clay County,AL,13552,13932,-2.7,13932,5.3,21.6,19.4,...,0.0,0.0,330878,0,70558,5123,4352,0,603.96,23.1
16,1029,Cleburne County,AL,15080,14972,0.7,14972,5.7,23.3,18.4,...,0.0,17.7,0,5888,133407,9080,4134,1,560.10,26.7
17,1031,Coffee County,AL,50909,49948,1.9,49948,6.1,23.7,15.9,...,0.7,29.3,613758,131594,639623,13665,50080,58,678.97,73.6
18,1033,Colbert County,AL,54543,54428,0.2,54428,5.7,21.7,18.5,...,0.0,22.8,2083166,351388,821284,15040,61935,143,592.62,91.8
19,1035,Conecuh County,AL,12670,13228,-4.2,13228,5.5,21.4,20.4,...,0.0,23.0,183544,76736,71232,5430,8667,3,850.16,15.6
20,1037,Coosa County,AL,10886,11758,-7.4,11539,4.8,18.3,18.5,...,0.0,0.0,89585,31647,20531,1904,575,0,650.93,17.7
21,1039,Covington County,AL,37914,37765,0.4,37765,5.9,22.1,19.8,...,0.0,0.0,561168,338692,424873,11544,30271,8,1030.46,36.6
22,1041,Crenshaw County,AL,13977,13906,0.5,13906,6.1,22.7,18.0,...,0.0,30.2,270809,131874,75456,5491,5640,2,608.84,22.8
23,1043,Cullman County,AL,81289,80410,1.1,80406,5.9,22.5,17.6,...,0.0,23.9,1393437,0,867058,10757,102291,77,734.84,109.4
24,1045,Dale County,AL,49484,50251,-1.5,50251,6.3,23.6,15.4,...,0.0,0.0,114991,69341,332503,6889,37229,17,561.15,89.6
25,1047,Dallas County,AL,41711,43820,-4.8,43820,6.7,25.2,15.6,...,0.0,28.8,1174763,0,437359,10223,33708,17,978.70,44.8
26,1049,DeKalb County,AL,71065,71115,-0.1,71109,6.2,24.7,15.7,...,0.0,25.8,1831626,0,635185,9303,67915,31,777.09,91.5
27,1051,Elmore County,AL,80977,79296,2.1,79303,5.9,23.0,14.0,...,0.0,28.3,766344,104885,618313,7982,47884,259,618.49,128.2
28,1053,Escambia County,AL,37733,38319,-1.5,38319,6.1,22.0,16.7,...,0.0,21.3,665336,93125,379587,10089,31909,26,945.08,40.5
29,1055,Etowah County,AL,103531,104427,-0.9,104430,5.7,22.1,17.3,...,0.6,25.7,1252962,518424,1114841,10801,137966,79,534.99,195.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3165,55131,Washington County,WI,133251,131885,1.0,131887,5.3,23.0,15.7,...,0.4,19.9,3393434,2800492,1759993,13729,152903,337,430.70,306.2
3166,55133,Waukesha County,WI,395118,389938,1.3,389891,5.1,22.4,16.5,...,1.0,24.7,15663482,6882092,5955006,15712,616641,1020,549.57,709.4
3167,55135,Waupaca County,WI,52066,52410,-0.7,52410,5.2,21.2,19.5,...,0.8,24.6,2133603,86158,516629,9929,55597,88,747.71,70.1
3168,55137,Waushara County,WI,24178,24496,-1.3,24496,4.8,18.7,22.5,...,0.0,23.9,111250,49841,203004,8226,25080,54,626.15,39.1
3169,55139,Winnebago County,WI,169511,166994,1.5,166994,5.6,20.8,14.7,...,0.8,23.4,9198861,1109192,1796479,11126,212069,511,434.49,384.3
3170,55141,Wood County,WI,73608,74749,-1.5,74749,5.7,21.9,18.6,...,0.0,25.3,2562632,893219,1002909,13585,84291,236,793.12,94.2
3171,56000,Wyoming,NaN,584153,563767,3.6,563626,6.5,23.7,14.0,...,2.8,25.5,8834810,6352890,8957553,17114,1469008,1901,97093.14,5.8
3172,56001,Albany County,WY,37811,36299,4.2,36299,5.2,16.5,9.8,...,3.9,32.2,0,113498,468773,14433,65787,99,4273.84,8.5
3173,56003,Big Horn County,WY,11930,11668,2.2,11668,6.5,25.3,19.2,...,0.0,30.3,0,0,71008,6242,5611,13,3137.10,3.7
3174,56005,Campbell County,WY,48320,46133,4.7,46133,8.0,28.0,7.1,...,2.1,28.2,262454,917314,775117,19157,89245,163,4802.71,9.6
3175,56007,Carbon County,WY,15854,15885,-0.2,15885,6.2,23.9,13.8,...,0.0,14.7,0,51494,295340,19182,42949,31,7897.58,2.0
3176,56009,Converse County,WY,14097,13833,1.9,13833,6.9,24.7,14.1,...,2.6,26.6,0,0,134349,10436,20947,43,4254.88,3.3
3177,56011,Crook County,WY,7248,7083,2.3,7083,6.6,23.5,18.0,...,0.0,16.8,0,14112,56351,8842,6135,5,2854.41,2.5
3178,56013,Fremont County,WY,40703,40123,1.4,40123,7.5,25.5,16.2,...,2.4,22.3,0,76180,558410,14944,66975,18,9183.81,4.4
3179,56015,Goshen County,WY,13514,13247,2.0,13249,5.6,20.1,20.5,...,0.0,23.8,147899,52428,116123,9614,11779,1,2225.39,6.0
3180,56017,Hot Springs County,WY,4816,4812,0.1,4812,4.4,20.8,23.6,...,0.0,28.2,0,0,38266,8502,10368,0,2004.09,2.4
3181,56019,Johnson County,WY,8573,8569,0.0,8569,5.8,22.0,20.6,...,0.0,0.0,0,0,71779,8868,20749,12,4154.15,2.1
3182,56021,Laramie County,WY,96389,91881,4.9,91738,6.5,23.5,14.3,...,4.7,29.8,2420198,628089,1720451,19866,173722,403,2685.91,34.2
3183,56023,Lincoln County,WY,18567,18106,2.5,18106,6.6,27.0,14.8,...,0.0,21.2,0,26778,221712,13705,21115,68,4076.13,4.4
3184,56025,Natrona County,WY,81624,75450,8.2,75450,6.8,23.9,12.8,...,2.0,24.0,1230635,2889434,1377032,19174,167974,330,5340.35,14.1
3185,56027,Niobrara County,WY,2463,2484,-0.8,2484,4.7,16.6,21.2,...,0.0,0.0,0,0,19649,8408,3071,1,2626.04,0.9
3186,56029,Park County,WY,28989,28205,2.8,28205,5.5,20.5,20.1,...,1.8,22.5,62727,155545,388380,14271,132951,131,6942.08,4.1
3187,56031,Platte County,WY,8799,8667,1.5,8667,4.9,20.4,22.7,...,0.0,33.0,0,34092,93405,11163,12103,22,2084.21,4.2
3188,56033,Sheridan County,WY,30032,29116,3.1,29116,5.6,21.6,18.3,...,0.0,21.7,0,0,478180,17110,66787,117,2523.99,11.5
3189,56035,Sublette County,WY,10057,10247,-1.9,10247,5.8,24.0,12.6,...,0.0,17.3,0,0,82792,10563,19746,27,4886.54,2.1
3190,56037,Sweetwater County,WY,45010,43806,2.7,43806,7.3,27.0,9.5,...,3.8,27.2,0,437493,898189,22843,150439,227,10426.65,4.2
3191,56039,Teton County,WY,22930,21294,7.7,21294,5.7,19.1,12.2,...,3.3,25.3,0,0,515644,25688,327363,145,3995.38,5.3
3192,56041,Uinta County,WY,20904,21118,-1.0,21118,7.6,29.8,11.0,...,2.2,15.9,0,159375,413983,20626,35497,40,2081.26,10.1
3193,56043,Washakie County,WY,8322,8533,-2.5,8533,5.5,23.9,20.1,...,0.0,26.9,0,12128,98308,12596,10175,4,2238.55,3.8
3194,56045,Weston County,WY,7201,7208,-0.1,7208,6.5,21.6,18.1,...,0.0,29.3,0,11540,64312,9395,7520,1,2398.09,3.0

*Q. `county_facts.csv`를 부른 DataFrame을 State와 County로 분리하여 각각 state_df, county_df로 나누어라*
<br>
- Hint : fips는 지역번호를 나타내며, 0은 미국 전체, 천의 자리 이상은 주를 나타낸다

In [56]:
# state_df
state_df = county_facts_df[county_facts_df['fips']%1000 == 0]
state_df

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
69,2000,Alaska,NaN,736732,710249,3.7,710231,7.4,25.3,9.4,...,0.0,25.9,8204030,4563605,9303387,13635,1851293,1518,570640.95,1.2
99,4000,Arizona,NaN,6731484,6392310,5.3,6392017,6.4,24.1,15.9,...,10.7,28.1,57977827,57573459,86758801,13637,13268514,26997,113594.08,56.3
115,5000,Arkansas,NaN,2966369,2915958,1.7,2915918,6.5,23.8,15.7,...,2.3,24.5,60735582,29659789,32974282,11602,3559795,7666,52035.48,56.0
191,6000,California,NaN,38802500,37254503,4.2,37253956,6.5,23.6,12.9,...,16.5,30.3,491372092,598456486,455032270,12561,80852787,83645,155779.22,239.1
250,8000,Colorado,NaN,5355866,5029324,6.5,5029196,6.3,23.3,12.7,...,6.2,29.2,46331953,53598986,65896788,13609,11440395,28686,103641.89,48.5
315,9000,Connecticut,NaN,3596677,3574096,0.6,3574097,5.3,21.6,15.5,...,4.2,28.1,58404898,107917037,52165480,14953,9138437,5329,4842.36,738.1
324,10000,Delaware,NaN,935614,897936,4.2,897934,6.0,21.8,16.4,...,2.1,26.1,25679939,5727401,14202083,16421,1910770,5194,1948.54,460.8
328,11000,District Of Columbia,NaN,658893,601767,9.5,601723,6.5,17.5,11.3,...,6.1,34.5,332844,2117990,3843716,6555,4278171,4189,61.05,9856.5
330,12000,Florida,NaN,19893297,18804623,5.8,18801310,5.5,20.4,19.1,...,22.4,28.9,104832907,221641518,262341127,14353,41922059,84075,53624.76,350.6
398,13000,Georgia,NaN,10097343,9688681,4.2,9687653,6.6,24.7,12.4,...,3.6,30.9,144280774,141962359,117516907,12326,16976235,39423,57513.49,168.4
558,15000,Hawaii,NaN,1419561,1360301,4.4,1360301,6.4,21.7,16.1,...,3.6,31.0,8799266,8894672,17611851,13793,8042210,3066,6422.63,211.8
564,16000,Idaho,NaN,1634464,1567652,4.3,1567582,7.0,26.4,14.3,...,2.6,23.5,18010976,14286715,20526631,13691,2415951,8797,82643.12,19.0
609,17000,Illinois,NaN,12880580,12831587,0.4,12830632,6.1,23.2,13.9,...,5.0,30.5,257760713,231082768,165450520,12947,25469026,20579,55518.93,231.1
712,18000,Indiana,NaN,6596855,6484192,1.7,6483802,6.4,24.0,14.3,...,1.8,26.8,221877814,67634947,78745589,12408,11669759,17816,35826.11,181.0
805,19000,Iowa,NaN,3107126,3046869,2.0,3046355,6.3,23.4,15.8,...,0.9,25.5,97592051,41068338,39234649,13172,4737719,10256,55857.13,54.5
905,20000,Kansas,NaN,2904021,2853132,1.8,2853118,6.9,24.9,14.3,...,2.4,27.5,76751828,45863865,34538332,12444,4192347,7459,81758.72,34.9
1011,21000,Kentucky,NaN,4413457,4339349,1.7,4339367,6.3,22.9,14.8,...,1.1,25.6,119105421,74680759,50405925,11843,6300866,9536,39486.34,109.9
1132,22000,Louisiana,NaN,4649676,4533479,2.6,4533372,6.6,23.9,13.6,...,2.9,27.4,205054723,51415553,56543203,12921,9729869,15255,43203.90,104.9
1197,23000,Maine,NaN,1330089,1328361,0.1,1328361,4.9,19.5,18.3,...,0.7,25.6,16363192,8823719,20444031,15520,2515827,3242,30842.92,43.1
1214,24000,Maryland,NaN,5976407,5773785,3.5,5773552,6.2,22.6,13.8,...,4.9,32.6,41456097,51276797,75664186,13429,10758428,16331,9707.24,594.8
1239,25000,Massachusetts,NaN,6745408,6547817,3.0,6547629,5.4,20.6,15.1,...,3.3,29.8,86428959,95275672,88082966,13553,14917210,14486,7800.06,839.4
1254,26000,Michigan,NaN,9909877,9884133,0.3,9883640,5.8,22.4,15.4,...,1.3,30.4,234455768,107109349,109102594,10855,14536648,15933,56538.90,174.8
1338,27000,Minnesota,NaN,5457173,5303925,2.9,5303925,6.4,23.5,14.3,...,1.0,26.8,107563060,82878056,71384103,13751,10423660,16990,79626.74,66.6
1426,28000,Mississippi,NaN,2994079,2968103,0.9,2967297,6.5,24.4,14.3,...,0.8,26.9,59869456,23003585,33751407,11552,7045097,6871,46923.27,63.2
1509,29000,Missouri,NaN,6063589,5988923,1.2,5988927,6.2,23.0,15.4,...,1.2,26.1,110907604,81032913,76575216,12957,11070634,16003,68741.52,87.1
1625,30000,Montana,NaN,1023579,989417,3.5,989415,6.0,22.0,16.7,...,1.0,24.6,10638145,8202782,14686854,15343,2079426,3884,145545.80,6.8
1682,31000,Nebraska,NaN,1881503,1826341,3.0,1826341,6.9,24.8,14.4,...,1.9,25.7,40157999,24019868,26486612,14965,2685580,7605,76824.17,23.8
1776,32000,Nevada,NaN,2839099,2700692,5.1,2700551,6.2,23.4,14.2,...,8.1,28.6,15735787,19255893,37433983,14579,28815533,13016,109781.18,24.6
1794,33000,New Hampshire,NaN,1326813,1316466,0.8,1316470,4.9,20.1,15.9,...,1.0,25.8,18592406,14564458,25353874,19246,2630968,3403,8952.65,147.0
1805,34000,New Jersey,NaN,8938175,8791936,1.7,8791894,6.0,22.5,14.7,...,8.7,27.3,116608094,233413004,124813580,14453,19993613,28155,7354.22,1195.5
1827,35000,New Mexico,NaN,2085572,2059192,1.3,2059179,6.6,24.1,15.3,...,23.6,31.7,17122725,10589286,24469997,12429,3734300,4799,121298.15,17.0
1861,36000,New York,NaN,19746227,19378112,1.9,19378102,6.0,21.4,14.7,...,9.9,30.4,162720173,313461904,230718065,11879,39813499,36286,47126.40,411.2
1924,37000,North Carolina,NaN,9943964,9535691,4.3,9535483,6.1,23.0,14.7,...,2.7,28.2,205867299,88795885,114578173,12641,16126939,49911,48617.91,196.1
2025,38000,North Dakota,NaN,739482,672591,9.9,672591,6.9,22.8,14.2,...,0.5,24.8,11349799,13099348,10527300,16495,1214201,12178,69000.80,9.7
2079,39000,Ohio,NaN,11594163,11536725,0.5,11536504,6.0,22.8,15.5,...,1.1,27.7,295890890,135575279,138816008,12049,17779905,19872,40860.69,282.3
2168,40000,Oklahoma,NaN,3878051,3751616,3.4,3751351,6.8,24.6,14.5,...,2.3,25.3,60681358,48074682,43095353,11931,5106585,14179,68594.92,54.7
2246,41000,Oregon,NaN,3970239,3831073,3.6,3831074,5.8,21.6,16.0,...,3.3,29.8,66880653,51910777,50370919,13494,7555764,16645,95988.01,39.9
2283,42000,Pennsylvania,NaN,12787209,12702884,0.7,12702379,5.6,21.1,16.7,...,2.3,27.0,234840418,142859202,166842778,13323,19625449,25059,44742.70,283.9
2351,44000,Rhode Island,NaN,1055173,1052931,0.2,1052567,5.2,20.2,15.7,...,6.0,27.3,12061517,9182788,12286485,11646,2148674,952,1033.81,1018.1
2357,45000,South Carolina,NaN,4832482,4625401,4.5,4625364,6.0,22.4,15.8,...,1.7,27.6,93977455,40498047,54298410,12273,8383463,27537,30060.70,153.9
2404,46000,South Dakota,NaN,853175,814191,4.8,814180,7.1,24.7,15.3,...,0.8,22.2,13051128,11400476,12266218,15390,1622751,4722,75811.00,10.7
2471,47000,Tennessee,NaN,6549352,6346275,3.2,6346105,6.1,22.8,15.1,...,1.6,25.9,140447760,80116528,77547291,12563,10626759,27632,41234.90,153.9
2567,48000,Texas,NaN,26956958,25146104,7.2,25145561,7.3,26.4,11.5,...,20.7,28.2,593541502,424238194,311334781,13061,42054592,166982,261231.71,96.3
2822,49000,Utah,NaN,2942902,2763885,6.5,2763885,8.6,30.7,10.0,...,3.7,24.9,42431657,25417368,36574240,13730,3980570,17510,82169.62,33.6
2852,50000,Vermont,NaN,626562,625745,0.1,625741,4.9,19.4,16.9,...,0.6,26.0,10751461,5121694,9310119,15005,1367630,1546,9216.66,67.9
2867,51000,Virginia,NaN,8326289,8001023,4.1,8001024,6.2,22.4,13.8,...,4.5,30.1,92417797,60513396,105663299,13687,15340483,28682,39490.09,202.6
3002,53000,Washington,NaN,7061530,6724543,5.0,6724540,6.3,22.7,14.1,...,3.2,28.7,112053283,76790966,92968519,14380,12389422,33898,66455.52,101.2
3042,54000,West Virginia,NaN,1850326,1853033,-0.1,1852994,5.5,20.5,17.8,...,0.7,28.1,25080573,11036467,20538829,11340,2553258,2677,24038.21,77.1
3098,55000,Wisconsin,NaN,5757564,5687289,1.2,5686986,5.9,22.6,15.2,...,1.3,25.9,163563195,59996244,72283321,12904,9247311,14622,54157.80,105.0
3171,56000,Wyoming,NaN,584153,563767,3.6,563626,6.5,23.7,14.0,...,2.8,25.5,8834810,6352890,8957553,17114,1469008,1901,97093.14,5.8

In [57]:
# county_df
county_df = county_facts_df[county_facts_df['fips']%1000 != 0]
county_df

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0
5,1007,Bibb County,AL,22506,22919,-1.8,22915,5.3,21.0,14.8,...,0.0,0.0,0,0,124707,5804,10757,19,622.58,36.8
6,1009,Blount County,AL,57719,57322,0.7,57322,6.1,23.6,17.0,...,0.0,23.2,341544,0,319700,5622,20941,3,644.78,88.9
7,1011,Bullock County,AL,10764,10915,-1.4,10914,6.3,21.4,14.9,...,0.0,38.8,0,0,43810,3995,3670,1,622.81,17.5
8,1013,Butler County,AL,20296,20946,-3.1,20947,6.1,23.6,18.0,...,0.0,0.0,399132,56712,229277,11326,28427,2,776.83,27.0
9,1015,Calhoun County,AL,115916,118586,-2.3,118572,5.7,22.2,16.0,...,0.5,24.7,2679991,0,1542981,13678,186533,114,605.87,195.7
10,1017,Chambers County,AL,34076,34170,-0.3,34215,5.9,21.4,18.3,...,0.0,29.3,667283,0,264650,7620,23237,8,596.53,57.4
11,1019,Cherokee County,AL,26037,25986,0.2,25989,4.8,20.4,20.9,...,0.0,14.5,307439,62293,186321,7613,13948,2,553.70,46.9
12,1021,Chilton County,AL,43931,43631,0.7,43643,6.4,24.2,15.2,...,0.0,0.0,0,155139,359910,8496,34073,78,692.85,63.0
13,1023,Choctaw County,AL,13323,13858,-3.9,13859,4.9,20.6,20.8,...,0.0,44.1,0,52904,84633,5969,11345,0,913.50,15.2
14,1025,Clarke County,AL,24945,25840,-3.5,25833,5.6,22.6,18.0,...,0.0,28.6,571454,85803,344311,13034,23596,11,1238.47,20.9
15,1027,Clay County,AL,13552,13932,-2.7,13932,5.3,21.6,19.4,...,0.0,0.0,330878,0,70558,5123,4352,0,603.96,23.1
16,1029,Cleburne County,AL,15080,14972,0.7,14972,5.7,23.3,18.4,...,0.0,17.7,0,5888,133407,9080,4134,1,560.10,26.7
17,1031,Coffee County,AL,50909,49948,1.9,49948,6.1,23.7,15.9,...,0.7,29.3,613758,131594,639623,13665,50080,58,678.97,73.6
18,1033,Colbert County,AL,54543,54428,0.2,54428,5.7,21.7,18.5,...,0.0,22.8,2083166,351388,821284,15040,61935,143,592.62,91.8
19,1035,Conecuh County,AL,12670,13228,-4.2,13228,5.5,21.4,20.4,...,0.0,23.0,183544,76736,71232,5430,8667,3,850.16,15.6
20,1037,Coosa County,AL,10886,11758,-7.4,11539,4.8,18.3,18.5,...,0.0,0.0,89585,31647,20531,1904,575,0,650.93,17.7
21,1039,Covington County,AL,37914,37765,0.4,37765,5.9,22.1,19.8,...,0.0,0.0,561168,338692,424873,11544,30271,8,1030.46,36.6
22,1041,Crenshaw County,AL,13977,13906,0.5,13906,6.1,22.7,18.0,...,0.0,30.2,270809,131874,75456,5491,5640,2,608.84,22.8
23,1043,Cullman County,AL,81289,80410,1.1,80406,5.9,22.5,17.6,...,0.0,23.9,1393437,0,867058,10757,102291,77,734.84,109.4
24,1045,Dale County,AL,49484,50251,-1.5,50251,6.3,23.6,15.4,...,0.0,0.0,114991,69341,332503,6889,37229,17,561.15,89.6
25,1047,Dallas County,AL,41711,43820,-4.8,43820,6.7,25.2,15.6,...,0.0,28.8,1174763,0,437359,10223,33708,17,978.70,44.8
26,1049,DeKalb County,AL,71065,71115,-0.1,71109,6.2,24.7,15.7,...,0.0,25.8,1831626,0,635185,9303,67915,31,777.09,91.5
27,1051,Elmore County,AL,80977,79296,2.1,79303,5.9,23.0,14.0,...,0.0,28.3,766344,104885,618313,7982,47884,259,618.49,128.2
28,1053,Escambia County,AL,37733,38319,-1.5,38319,6.1,22.0,16.7,...,0.0,21.3,665336,93125,379587,10089,31909,26,945.08,40.5
29,1055,Etowah County,AL,103531,104427,-0.9,104430,5.7,22.1,17.3,...,0.6,25.7,1252962,518424,1114841,10801,137966,79,534.99,195.2
30,1057,Fayette County,AL,16874,17241,-2.1,17241,5.4,21.7,19.6,...,0.0,24.3,186247,22463,130362,7433,10869,0,627.66,27.5
31,1059,Franklin County,AL,31601,31709,-0.3,31704,6.6,24.3,15.9,...,0.0,23.2,671954,67398,269096,8786,25389,13,633.82,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,55129,Washburn County,WI,15694,15911,-1.4,15911,5.0,19.5,23.9,...,0.0,17.9,0,27904,178121,10746,25328,71,797.11,20.0
3165,55131,Washington County,WI,133251,131885,1.0,131887,5.3,23.0,15.7,...,0.4,19.9,3393434,2800492,1759993,13729,152903,337,430.70,306.2
3166,55133,Waukesha County,WI,395118,389938,1.3,389891,5.1,22.4,16.5,...,1.0,24.7,15663482,6882092,5955006,15712,616641,1020,549.57,709.4
3167,55135,Waupaca County,WI,52066,52410,-0.7,52410,5.2,21.2,19.5,...,0.8,24.6,2133603,86158,516629,9929,55597,88,747.71,70.1
3168,55137,Waushara County,WI,24178,24496,-1.3,24496,4.8,18.7,22.5,...,0.0,23.9,111250,49841,203004,8226,25080,54,626.15,39.1
3169,55139,Winnebago County,WI,169511,166994,1.5,166994,5.6,20.8,14.7,...,0.8,23.4,9198861,1109192,1796479,11126,212069,511,434.49,384.3
3170,55141,Wood County,WI,73608,74749,-1.5,74749,5.7,21.9,18.6,...,0.0,25.3,2562632,893219,1002909,13585,84291,236,793.12,94.2
3172,56001,Albany County,WY,37811,36299,4.2,36299,5.2,16.5,9.8,...,3.9,32.2,0,113498,468773,14433,65787,99,4273.84,8.5
3173,56003,Big Horn County,WY,11930,11668,2.2,11668,6.5,25.3,19.2,...,0.0,30.3,0,0,71008,6242,5611,13,3137.10,3.7
3174,56005,Campbell County,WY,48320,46133,4.7,46133,8.0,28.0,7.1,...,2.1,28.2,262454,917314,775117,19157,89245,163,4802.71,9.6
3175,56007,Carbon County,WY,15854,15885,-0.2,15885,6.2,23.9,13.8,...,0.0,14.7,0,51494,295340,19182,42949,31,7897.58,2.0
3176,56009,Converse County,WY,14097,13833,1.9,13833,6.9,24.7,14.1,...,2.6,26.6,0,0,134349,10436,20947,43,4254.88,3.3
3177,56011,Crook County,WY,7248,7083,2.3,7083,6.6,23.5,18.0,...,0.0,16.8,0,14112,56351,8842,6135,5,2854.41,2.5
3178,56013,Fremont County,WY,40703,40123,1.4,40123,7.5,25.5,16.2,...,2.4,22.3,0,76180,558410,14944,66975,18,9183.81,4.4
3179,56015,Goshen County,WY,13514,13247,2.0,13249,5.6,20.1,20.5,...,0.0,23.8,147899,52428,116123,9614,11779,1,2225.39,6.0
3180,56017,Hot Springs County,WY,4816,4812,0.1,4812,4.4,20.8,23.6,...,0.0,28.2,0,0,38266,8502,10368,0,2004.09,2.4
3181,56019,Johnson County,WY,8573,8569,0.0,8569,5.8,22.0,20.6,...,0.0,0.0,0,0,71779,8868,20749,12,4154.15,2.1
3182,56021,Laramie County,WY,96389,91881,4.9,91738,6.5,23.5,14.3,...,4.7,29.8,2420198,628089,1720451,19866,173722,403,2685.91,34.2
3183,56023,Lincoln County,WY,18567,18106,2.5,18106,6.6,27.0,14.8,...,0.0,21.2,0,26778,221712,13705,21115,68,4076.13,4.4
3184,56025,Natrona County,WY,81624,75450,8.2,75450,6.8,23.9,12.8,...,2.0,24.0,1230635,2889434,1377032,19174,167974,330,5340.35,14.1
3185,56027,Niobrara County,WY,2463,2484,-0.8,2484,4.7,16.6,21.2,...,0.0,0.0,0,0,19649,8408,3071,1,2626.04,0.9
3186,56029,Park County,WY,28989,28205,2.8,28205,5.5,20.5,20.1,...,1.8,22.5,62727,155545,388380,14271,132951,131,6942.08,4.1
3187,56031,Platte County,WY,8799,8667,1.5,8667,4.9,20.4,22.7,...,0.0,33.0,0,34092,93405,11163,12103,22,2084.21,4.2
3188,56033,Sheridan County,WY,30032,29116,3.1,29116,5.6,21.6,18.3,...,0.0,21.7,0,0,478180,17110,66787,117,2523.99,11.5
3189,56035,Sublette County,WY,10057,10247,-1.9,10247,5.8,24.0,12.6,...,0.0,17.3,0,0,82792,10563,19746,27,4886.54,2.1
3190,56037,Sweetwater County,WY,45010,43806,2.7,43806,7.3,27.0,9.5,...,3.8,27.2,0,437493,898189,22843,150439,227,10426.65,4.2
3191,56039,Teton County,WY,22930,21294,7.7,21294,5.7,19.1,12.2,...,3.3,25.3,0,0,515644,25688,327363,145,3995.38,5.3
3192,56041,Uinta County,WY,20904,21118,-1.0,21118,7.6,29.8,11.0,...,2.2,15.9,0,159375,413983,20626,35497,40,2081.26,10.1
3193,56043,Washakie County,WY,8322,8533,-2.5,8533,5.5,23.9,20.1,...,0.0,26.9,0,12128,98308,12596,10175,4,2238.55,3.8
3194,56045,Weston County,WY,7201,7208,-0.1,7208,6.5,21.6,18.1,...,0.0,29.3,0,11540,64312,9395,7520,1,2398.09,3.0

In [ ]:
# primary_df
primary_df= pd.read_csv('primary_results.csv')
primary_df

#### 2-2. Merge/Join two DataFrames : .merge()
---
* 어떤 df를 기준으로 통합할 것인가?
* 통합할 때 key가 되는 열은 무엇인가?
* 어떻게 통합할 것인가?

In [ ]:
primary_county_facts_inner_df = primary_df.merge(county_df, left_on = 'fips',
                                                 right_on = 'fips', how = 'inner')
primary_county_facts_inner_df

In [ ]:
primary_county_facts_outer_df = primary_df.merge(county_df, left_on = "fips",
                                                right_on = 'fips', how = 'outer')
primary_county_facts_outer_df

*Q. inner? outer?*

 -> Let's use inner!

#### 2-3. Fill or Abandon NaN
---

In [ ]:
# check NaN in data
primary_county_facts_inner_df.isnull().sum()#.sum() # ... 때문에 보기 힘드므로.
primary_county_facts_inner_df.isnull()

*Q. 2-2의 DataFrame을 공화당과 민주당의 결과로 분리하여 각각 rep_df, dem_df로 나누어라*

In [ ]:
# rep_df
rep_df = primary_county_facts_inner_df[primary_county_facts_inner_df['party'] == "Republican"]

# dem_df
dem_df = primary_county_facts_inner_df[primary_county_facts_inner_df['party'] == "Democrat"]

#### 2-4. Save & Load DataFrame : pickle
---

In [ ]:
# import package
import pickle

In [ ]:
# save as DataFrame
with open('primary_results.pkl', 'wb') as f:# wb: byte처럼 쓰겠다.
    pickle.dump(primary_county_facts_inner_df, f) # dumps는 string으로 쓰는거다! 그러니까 dump 사용

In [ ]:
# load as DataFrame
with open('primary_results.pkl', 'rb') as f:
    primary_results_df = pickle.load(f)

#### 2-5. Data Summary  : .groupby()
---

In [ ]:
# 공화당 후보들이 각각 받은 votes를 계산
rep_df.groupby('candidate').sum()['votes']

## 실습 : 군집화 실습 데이터 전처리하기
---
군집화 실습을 위해 사용할 데이터를 미리 전처리해보자

##### 분석에 도움되는 프로그래밍 팁
- immutable : 되도록 한번 할당된 변수를 다른 값으로 덮어쓰는 것은 피할 것

##### 사용 데이터 : 비누 구매 고객 데이터 (교재 21.6) - `BathSoap.xlsx`
- sheet3 : DM_Sheet, 멤버 정보 및 비누 구입 정보
- sheet4 : Durables, 멤버들의 비누 이외 타물품 소유 정보

In [ ]:
# Brand 정보
brand_code_description = pd.read_csv('BathSoapBrandCode.csv')
brand_code_description

In [ ]:
# columns, Durables 정보
all_columns_description = pd.read_csv('BathSoapCodelList.csv')
all_columns_description

##### pd.read_excel
`BathSoap.xlsx` 파일에서 데이터가 있는 sheet를 DataFrame으로 변환
* pd.read_excel document 참고
* sheet 위치, header로 쓸 row를 잘 지정할 것
* row의 시작은 0

In [ ]:
# df
df = pd.read_excel('BathSoap.xlsx', sheetname = 'DM_Sheet', header = 2)

# durable_df
durable_df = pd.read_excel('BathSoap.xlsx', sheetname = 'Durables', header = 4) # header = 3로 하니까 join에서 error.

In [ ]:
df #  column 'Member id' has float values

In [ ]:
df['Member id'] = df['Member id'].fillna(0.0).astype(int) # convert float to int
df

In [ ]:
durable_df

##### pd.merge
Durable과 Dm_Sheet의 DataFrame을 통합
* 합치는 키가 되는 column을 잘 살필 것
* 합치는 방법을 잘 결정할 것

In [ ]:
# merged_df
merged_df = df.merge(durable_df, left_on = "Member id", right_on = "MEM", how = "inner")
merged_df

##### 결측치 처리  - pd.fillna OR delete rows
* NaN이 있는 행부터 찾을 것
* 해당 행의 성질에 따라 행의 값을 채우거나 지울 것
* 위의 과정을 시행할 때 `nan_filled_df` 등으로 원래의 df를 copy()해서 진행할 것 - immutable

In [ ]:
# check NaN by row
nan_s = merged_df.isnull().sum(axis = 1)

# Nan이 아닌 부분만 DataFrame으로 다시 생성
nan_filled_df = merged_df[~(nan_s > 0)]

##### Scaling 
* 수치형 데이터인 열은 대부분 normalizaion 해주는 것이 좋다
* Scaling이 필요하다고 생각하는 수치형 데이터인 열을 찾아서 열별로 Standard Scaling 해준다
    * Statndard : x-열의 평균/열의 표준편차
* 위의 과정을 시행할 때 scaled_df 등으로 원래의 df를 copy()해서 진행할 것 - immutable

In [ ]:
nan_filled_df

In [ ]:
# Choose columns
scaling_needed_columns = nan_filled_df.drop("Member id", axis = 1)

# 위의 컬럼들을 Scaling
scaled_df = (scaling_needed_columns - scaling_needed_columns.mean()) / scaling_needed_columns.std()

# scaled_df로 저장
scaled_df['Member id'] = nan_filled_df["Member id"]
scaled_df

##### Save DataFrame

### 3. Basic Visualization : Scatter Plot of Normalized Total Volume vs. Normalized Value
---
#### 3-1. `matplotlib.pyplot`

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
xaxis_label = 'Noramlized Total Volume'
yaxis_label = 'Noramlized Value'
x_range = [-2, 5]
y_range = [-2, 5]

# plt.scatter
# xlabel
# ylabel
# xlims
# ylims
# show

#### 3-2. `bokeh.js`

In [ ]:
from bokeh.plotting import figure, output_notebook, show
from bokeh.models import HoverTool, ColumnDataSource

In [ ]:
xaxis_label = 'Noramlized Total Volume'
yaxis_label = 'Noramlized Value'
x_range = [-2, 5]
y_range = [-2, 5]

title = 'Total Volume vs. Value '
TOOLS="hover,crosshair,pan,wheel_zoom,box_zoom,reset,tap,previewsave,box_select"


# output_notebook()

# data source as ColumnDataSource

# figure

# plot kind

# xaxis label
# yaxis label

# hover Setting

# show